/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


Main color: #087f5b
Text color: #343a40

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
    font-family: "Inter", sans-serif;
    color: #343a40;
    border-bottom: 8px solid #087f5b;
}

.hidden{
    display: none;
}

.nav--icon{
    width: 48px;
    height: 48px;
    stroke: #087f5b;
    z-index:100;
}

.nav-link{
    font-size: 18px;

}

.container {

    width: 100%;
    margin: 0 auto;
}

.nav-bar{
    grid-column: -1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 64px;
}

.nav-bar-btn{
    display: grid;
    grid-column: 2/5;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
header,
section {
    margin-bottom: 80px;
    margin-top: 64px;
}

h2 {
    margin-bottom: 48px;
    font-size: 36px;
    letter-spacing: -0.5px;
}

.grid-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}

.btn:link,
.btn:visited {
    background-color: #087f5b;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    border-radius: 100px;
}

.btn:hover,
.btn:active {
    background-color: #099268;
}

.btn--big {
    font-size: 18px;
    padding: 16px 32px;
    text-align: center ;

}
.abutton{
    margin: 14px;
    background: #087f5b;
    color: #fff;
    width: 125px;
    border-radius: 100px;
    margin-bottom: 10px;
    height: 40px;
    font-weight: bolder;
    text-transform: uppercase;
}
.cbutton{
    margin: 10px;
    background: #087f5b;
    color: #fff;
    width: 175px;
    border-radius: 100px;
    margin-bottom: 10px;
    height: 60px;
    font-weight: bolder;
    text-transform: uppercase;
}
.btn--small {
    font-size: 14px;
    padding: 8px 12px;
}
/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 80px;
    margin-top: 48px;
}

header img{
    height: 90%;
}
.header-text-box {
    align-self: center;
    font-size: 18px;
    line-height: 1.5;
}

h1 {
    margin-bottom: 24px;
    font-size: 52px;
    line-height: 1.1;
    letter-spacing: -1px;
}

.header-text {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.7;
}

img {
    width: 100%;
    border-radius: 12px;
}

footer{
    margin-top: 48px;
}

/* FEATURES */
.features-icon {
    stroke: #087f5b;
    width: 32px;
    height: 32px;
    margin-bottom: 24px;
}

.features-title {
    margin-bottom: 16px;
    font-size: 20px;
}

.features-text {
    font-size: 18px;
    line-height: 1.7;
}


.book {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.book img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/* Books */
.book-box {
    padding: 32px;
}

h3 {
    margin-bottom: 24px;
    font-size: 20px;
}

.book-details {
    list-style: none;
    margin-bottom: 48px;
}

.book-details li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.book-details li:last-child {
    margin-bottom: 0;
}

.book-price {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}

footer {
    margin-bottom: 48px;
    font-size: 14px;
    color: #495057;
}

/*Books search page*/
.grid-container-landingPage{
    width:100%;
    display: grid;
    grid-template-columns: 1.5fr .75fr .75fr;
    grid-auto-flow: row;
    height: 800px;
    column-gap: 50px;
    margin-bottom: 96px;
    background-color: white;


}

.grid-item {
    border-radius: 5px;
    background-color: #f1f3f5;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}
/*Welcome*/
.grid-item-1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.grid-item-3{
    height:500px;
}
.grid-header{

    color: #087f5b;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.grid-item-2{
    grid-row-start: 3;
    grid-row-end: 5;
}
.welcome{
    text-align: center ;
    background-color: #087f5b;
    border-radius: 100px;
    color: #fff;
    font-weight: bold;
    font-size: xx-large;
    text-transform: capitalize;
}
/*bookTable*/
.grid-item-3{
    grid-row-start: 2;
    grid-row-end: 5;
}

.add_to_cart{
    background-color: #f1f3f5;
    border-radius: 5px;
    border-bottom-color: #dee2e6;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.add_to_cart_controls{
    display: grid;
    background-color: #f1f3f5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    justify-content: center;
}



.search_books_header{
    align-items: center;
    margin-bottom: 0;
}


.books_list_add{
    padding: 10px;
}

.book_search_form{
    display: grid;
    grid-template-columns: 70px 100px 100px 215px 60px 215px 100px;
    color: #fff;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
}

.book_search_form label{
    display: grid;
    justify-content: right;
    width: 100%;
}

.btn--search{
    text-align: center ;
    background-color: #fff;
    border-radius: 100px;
    color: #087f5b;
    width: 90%;
    font-weight: bold;
}

.btn--search:hover,
.btn--search:active {
    background-color: #e9ecef;
}

/*Cart*/

.cart_container{
    display: grid;
    height: 100%;
}

.selected_checkout_books{
    display: grid;
    padding-left: 15%;
    padding-right: 15%;
    grid-template-rows: 4fr 1fr;
    height: 500px;
}
.checkout_controls{
    display: grid;
    background-color: #f1f3f5;
    grid-template-columns: 3fr 1fr;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    justify-content: right;
    padding-right:20px;
}

.checkout_list{
    padding: 10px;
}
.checkout_cart{
    background-color: #f1f3f5;
    border-radius: 5px;
    border-bottom-color: #dee2e6;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.number_of_books{
    padding-left: 20px;
}

.checkout-topbar{
    display: grid;
    height: 50px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 10px;

}

.checkout-topbar-fill{
    height: 50px;
    background-color: #087f5b;
    border-radius: 5px;
}

.update_books{
    display: flex;
    justify-content: center;
    background-color: #f1f3f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}


.admin_container{
    height: auto;
}


.btn--Admin{
    text-align: center ;
    background-color: #087f5b;
    border-radius: 100px;
    color: #fff;
    width: 90%;
    font-weight: bold;
}

.btn--Admin:hover,
.btn--Admin:active {
    background-color: #099268;
}

.update_form_admin{
    display: grid;
    justify-content: center;
}

.admin_report_bar{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.search_admin_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    height: 500px;
    margin-bottom: 96px;
}

.btn-report{
    width: auto;
}


.thead-dashboard{
    position: sticky;
    z-index: 50;
}
tbody,th,tr {
    direction:ltr ;
}
.checkout-container {
    display: grid;
    grid-template-columns: 5fr 4fr 4fr;
    margin: 2fr;
}
.cart-container {
    display: grid;
    grid-template-columns: 6fr 4fr 2fr;
    margin: 2fr;
}
.container-header{
    font-weight: bolder;
}
.container-item{
    font-size: small;
    height:50px;
}
.grid-dashboard {
    font-size: small;
    width:100%;
    height:100%;
    overflow-x: scroll;
    overflow-y: scroll;

}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: #e8eae9;
    border: 5px solid #d0dad9;

}
::-webkit-scrollbar-thumb {
    background-color: #a5d7de;
    border-left: 5px solid #d0dadb;
    border-right: 5px solid #d0dadb;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #7cadb4;
}
::-webkit-scrollbar-track-piece {
    color: red;
}
.table-dashboard{
    margin-left: 10%;
    width: 70%;
    font-family: Playfair Display;
    font-weight: bolder;

}
.tableImg {
    width:100%;
    padding:5px;
}
.rowImg{width:100px;
}
.bookRow{
    width:20%;
}
.table-title {
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}
th.table-heading {
    font-weight: bolder;
    background-color:#087f5b;
    color: white;
}
.thead-dashboard{
    background: #087f5b;
    color:white;
    font-weight: bolder;
    font-size: xxx-large;
    text-align: center;
}
#header
{
    margin-left:300px;
    width:100%;

}
#toggleMobileMenu
{
    text-align: right;
}
.table-landingPage
{
    width: 100%;
    font-family: Playfair Display;
    font-weight: bolder;
    height: 500px;
    overflow-x: scroll;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: #e8eae9;
    border: 5px solid #d0dad9;

}
::-webkit-scrollbar-thumb {
    background-color: #a5d7de;
    border-left: 5px solid #d0dadb;
    border-right: 5px solid #d0dadb;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #7cadb4;
}
::-webkit-scrollbar-track-piece {
    color: red;
}

.grid-container-moreInfo {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr;
    background-color: darkslategrey;
    padding: 10px;
    text-align: center;
    margin: 0% 25% 100px;
    height:100%;
    font-family: Playfair Display;
}

.grid-item-moreInfo {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
    background-color: #f1f3f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}
.grid-item-1-moreInfo{
    grid-row-start: 1;
    grid-row-end: 8;
    background-color: #00000019;
    border:none;
}
.grid-item-2-moreInfo{
    grid-column-start: 2;
    grid-column-end: 4;
}
.grid-item-3-moreInfo{
    grid-row-start: 8;
    grid-row-end: 10;
}
.moreInfo-item
{
    font-size:large;
    font-weight: bolder;
}
.moreInfo-header
{
    padding-top: 50px;
    padding-bottom: 0px;
    font-weight: bolder;
    margin-bottom: 0px;
    background-color: #141a1a;
    color: white;
}
.moreInfo.image
{
    width:120%;
    margin: 0px;
    padding: 0px;
}
